.team {
  text-align: center;
  padding: 32px;
}

.team h3 {
  display: flex;
  justify-content: center;
  
  font-size: 32px;
  
  padding-bottom: 8px;
  margin: 0 40%;  
  
  border-bottom: 4px solid;
}