.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;
  padding: 32px;
}

.team .border {
  width: 32px;
  border-bottom: 4px solid;

  margin: 0 45%;
}

.team h3 {
  width: 100%;

  font-size: 32px;
  
  padding-bottom: 8px;
  margin: 0 40%;  
  
}