.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  text-align: center;
  padding: 32px;
}

.team h3 {
  width: 100%;

  font-size: 32px;
  
  padding-bottom: 8px;
  margin: 0 40%;  
  
  border-bottom: 4px solid;
}