.collaborator {
  width: 262px;

  display: flex;
  flex-direction: column;
  align-itens: center;
  justify-content: center;

  
  background-color: white;
  border-radius: 10px;

  margin: 38px 12px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}

.collaborator .header {

  display: flex;
  justify-content: center;

  background-color: #57C278;
  height: 60px;

  border-radius: 10px 10px 0 0;

  padding-top: 20px;
}

.collaborator .header .img {
  width: 110px;
  height: 110px;

  border-radius: 50%;

  /* background: url("https://github.com/JulioPampuch.png"); */
  background-size: cover;
  
}

.collaborator .collaborator-footer {
  width: 70%;
  margin: 55px auto 20px auto;
}

.collaborator .collaborator-footer h4 {
  font-size: 18px;
  color: #6278F7;
  margin: 8px 0;
}

.collaborator .collaborator-footer h5 {
  font-size: 16px;
  margin: 8px 0;
}
